  <h1>Hey You!</h1>
  <p>Ever had the nagging feeling you're repeating yourself again and again (and again) in emails, essays, or poems? How many "thank you"s did you plug in your last email to grandma? Just how many times did your upstart co-worker call your boss a "sycophant" in his satirical yet sadly permanent email to the whole staff? Use this handy-dandy app to check and see!</p>
  <form action='/number_of_times'>
    <div class="form-group">
      <label for="text">Write in Your Text Here</label>
      <input id="text" name="text" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="word">What Word do You Want to See?</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Check It Out!</button>
  </form>
