  <h1>Hey You!</h1>
  <p>Ever had the nagging feeling you're repeating yourself again and again (and again) in emails, essays, or poems? How many "thank you"s did you plug in your last email to grandma? Just how many times did your upstart co-worker call your boss a "sycophant" in his satirical yet sadly permanent email to the whole staff? Use this handy-dandy app to check and see!</p>
  
